.about-us-section {
  
  width: 100%;
  height: 100vh;
  
  background: url('../images/about-us.svg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-top: 100px;
}

/* .overlay {
  background-color:#1182d1; Blue overlay
  padding: 60px 20px;
  border-radius: 10px;
} */

.about-title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
}

.about-subtext {
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.about-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 20px;
  border-radius: 50px;
  max-width: 1000px;
  margin: 0 auto;
  /* color: black; */
  color: #525252;
  border: 2px solid #DCDCDC;
}

.stat {
  text-align: center;
  flex: 1;
  min-width: 180px;
  position: relative;
}
.stat:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: -10%;
  height: 100%;
  width: 2px;
  background-color: #DCDCDC;
}

.stat-value {
  font-size: 30px;
  font-weight: 700;
  color: #0078d7;
}

.stat-label {
  font-size: 18px;
  color: #333;
}







.aboutus-top {
  margin-top: 10vh;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBox h1 {
  color: #012970;
  border-bottom: 2px solid #012970;
}

.aboutTop {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.aboutTop a {
  text-decoration: none;
  color: #012970;
}

.aboutTop a:hover {
  color: #ea4232;
}

.aboutContent {
  padding: 0 70px;
}

.aboutContentOne p {
  color: #747070;
  margin-top: 20px;
  text-align: justify;
}

.contentTwoBox,
.aboutContentThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.contentTwoBox p {
  width: 80%;
  color: #747070;
  margin-top: 20px;
  text-align: justify;
}

.contentTwoBox-right,
.aboutContentThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutContentThree p {
  width: 60%;
  margin-top: 20px;
  color: #747070;
  text-align: center;
}

/* --------------------------------- */

.our-team-container {
  margin: 50px #747070;
}

.team-members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.team-card {
  height: 60vh;
  width: 25vw;
  margin-bottom: 150px;
}

.team-card img {
  height: 29vh;
}

.team-card h3 {
  margin: 15px 0;
}

.team-card p {
  margin-bottom: 15px;
}

.team-social-media {
  border-top: 2px solid #b1adad;
  margin-top: 35px;
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.team-social-media a {
  color: #747070;
  font-size: 1.4rem;
  transition: transform 0.4s ease;
  padding: 5px;
}

.team-social-media a:hover {
  color: #ea4232;
  transform: translateY(-5px);
}

.apiformBox {
  background-color: rgb(245, 245, 245);
  height: 700px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutus-top {
    margin-top: 10vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;
  }
}


.company-about {
  
  height: 100vh;
  
  background: url('../images/AboutusImg.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  flex-wrap: wrap;
}

.company-text {
  max-width: 55%;
  margin-top: -300px;
}

.company-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.company-text .highlight {
  color: #1783D0;
}

.company-text p {
  margin-top: 20px;
  font-size: 20px;
  color: #525252;
  line-height: 1.6;
}

.contact-btn {
  margin-top: 90px;
  padding: 12px 34px;
  background-color: #1783D0;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #1783D0;
}

.company-image {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.company-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
}


.enterprise-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background-color: #f8f9fa;
  flex-wrap: wrap;
  height: 450px;
  margin-bottom: 30px;
}

.text-logos {
  max-width: 700px;
}

.text-logos h1 {
  font-size:50px;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

.text-logos .highlight {
  color: #1783D0;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #DCDCDC;
  transition: transform 0.3s;
}

.logo-box:hover {
  transform: scale(1.05);
}

.logo-box img {
  /* width: 150px; */
  height: 45px;
}


.partner-image img {
  max-width: 700px;
  height: auto;
}
