.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  /* margin-top: 8px;÷ */
}

.pill {
  background-color: #e1f5fe;
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 14px;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #1783d0;
}

.modal {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-form input,
.modal-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button[type="submit"] {
  background-color: #0073e6;
  color: white;
}

.modal-buttons button[type="button"] {
  background-color: #d1410c !important;
}

.Employee-Profile-Card {
  width: 90%; /* Reduce width from 100% */
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
}

.profile-head {
  margin: 100px 70px 50px 70px;
  height: 100%;
}

.Profile-section-one {
  background-color: #1783d0;
  color: #fff;
  border-radius: 30px;
  padding: 40px;
}

.Profile-head {
  display: flex;
  justify-content: space-evenly;
}

.Profile-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 75px;

  /* background-color: greenyellow; */
}

.Profile-head > img {
  height: 180px;
  width: 180px;
  background-color: #fff;
  border-radius: 50%;
  /* margin-top: 10px; */
  object-fit: cover;
}
.edit-button {
  background-color: #ffffff;
  color: #1783d0;
  border: none;
}

/* Top section inside Profile-basic-info */
.Profile-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Profile-buttons {
  display: flex;
  gap: 10px;
  margin-right: -90px;
}

.icon-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.Profile-basic-info h3 {
  font-size: 24px;
  margin: 0;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

.Profile-basic-info p {
  margin: 5px 0;
  font-size: 18px;
}

.Profile-basic-info {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.Profile-personal-info h3,
.Profile-personal-info p {
  padding: 4px 0;
}

.profile-top p {
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins";
}

.Profile-personal-info {
  display: flex;
  margin: 20px 0;
}

.icon-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.Column-One-Details,
.Column-Two-Details {
  display: flex;
  align-items: center;
}

.Column-One-Details p {
  margin-left: 15px;
}
.Column-Two-Details p {
  margin-left: 15px;
}

.Profile-personal-info-Two {
  margin-left: 150px;
}

.Column-Two-Details {
  margin: 0 20px;
  padding: 1px 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
}

.Column-Two-Detailss-view:hover {
  cursor: pointer;
}

.profile-section-two {
  min-height: 80vh;
  margin: 50px 0;
}

.Content-box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
}

.company-card {
  background-color: white;
  border: 1px solid #1783d0;
  border-radius: 12px;
  padding: 24px;
  margin: 30px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
  max-width: 96%;
}

.company-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Poppins";
  color: #525252;
}

.highlight {
  color: #1783d0;
}

.company-description {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.8;
  color: #525252;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.company-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
  width: 1450px; /* Set your desired width */
  max-width: 100%; /* Prevent overflow on small screens */
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
}

.company-meta strong {
  display: block;
  font-size: 20px;
  color: #525252;
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: 600;
}

.company-meta p {
  margin: 0;
  font-size: 20px;
  color: grey;
  /* margin-top: 8px; */
  text-transform: capitalize;
  font-family: "Poppins";
}

.link {
  color: #1783d0;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

.pill-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* margin-top: 8px; */
}

.pill {
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

.pill.blue {
  background-color: #dbeafe;
  color: #1783d0;
}

.pill.green {
  background-color: #ccfbf1;
  color: #065f46;
}
.announcement-section {
  padding: 40px 2px;
  width: 100%;
  box-sizing: border-box;
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.announcement-header h2 {
  font-size: 30px;
  font-weight: 600;
}

.highlight {
  color: #1783d0;
}

.show-more {
  color: #1783d0;
  font-size: 20px;
  text-decoration: none;
}

.card-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Card-Container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
}

.jobs {
  flex: 0 0 auto;
  width: 370px;
  border-radius: 16px;
  padding: 1rem;
  border: 1px solid white;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.scroll-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll-btn.left {
  left: -20px;
  color: #1783d0;
}

.scroll-btn.right {
  right: -20px;
  color: #1783d0;
}

.Card-Container::-webkit-scrollbar {
  display: none;
}
.Card-Container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Company-logo {
  background-color: #fdebdc;
  color: #d1410c;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
}

.bookmark-icon {
  color: #6b7280;
  cursor: pointer;
}

.Company-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -70px;
  margin-left: 70px;
}

.companyName {
  font-size: 16px;
  color: #1783d0;
  margin-top: 8px;
}

.jobTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 5px 0;
}

.jobLocation {
  font-size: 14px;
  color: #525252;
}

.jobTags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.jobTag {
  border: 1px solid #1783d0;
  color: #1783d0;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.salary,
.posted {
  font-size: 14px;
  color: #525252;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
}

.more-details {
  color: #1783d0;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.posted-time {
  font-size: 13px;
  color: #777;
}
