.job-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3399ff;
  border-radius: 50px;
  padding: 5px 10px;
  background-color: white;
  max-width: 60%;
  margin: 0px auto;
  margin-top: 60px;
  max-width: 1160px;
}

.search-fields {
  display: flex;
  align-items: center;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-select {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 30px 10px 10px;
  background: transparent;
  color: #525252;
  font-weight: 400;
  appearance: none; /* Hide default dropdown arrow */
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 14px;
  color: #1783d0;
}

.divider {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  background: transparent;
  color: #525252;
  width: 250px; /* 🆙 Wider input */
}

.search-button {
  background-color: #1783d0;
  color: white;
  font-weight: 600;
  border: none;
  padding: 8px 38px;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  flex-shrink: 0;
}

.search-button:hover {
  background-color: #1783d0;
}
.job-listing-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  margin: 0 auto;
  max-width: 1240px;
  margin-top: 60px;
}

.filter-section {
  flex: 0 0 250px;
  background: white;
  border: 1px solid #3399ff;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.job-cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  flex: 1;
}
.job-card {
  height: 250px;
  overflow-y: auto;
}

/* sider bar filter */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  color: #1783d0;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.reset-btn {
  background: none;
  font-size: 20px;
  border: none;
  color: #525252;
  cursor: pointer;
  font-weight: 600;
}

.filter-group {
  margin-top: 20px;
}

.filter-group h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-group label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #525252;
}

.filter-group input[type="checkbox"] {
  width: 18px;

  border: 1.4px solid #ddd;
  border-radius: 6px;

  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

/* Style for checked checkboxes */
.filter-group input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* Checkmark inside checkbox */
.filter-group input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.job-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.bookmark-btn {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: -50px;
}

.job-desc {
  /* margin-top: 20px; */
  font-size: 14px;
  color: #525252;
  text-transform: capitalize;
}
.companyname {
  font-size: small;
}
.job {
  display: flex;
  align-items: center;
  gap: 5px;
}


.job-infos {
  display: flex;
  justify-content: space-between;

  font-size: 13px;
}
.job-infos span svg {
  vertical-align: middle;
  /* margin-right: 5px; */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: left;
  /* justify-content: center; */
}

.skills span {
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  color: #525252;
  border: 0.2px solid #1783d0;
}

.view-profile-btn {
  background: white;
  color: #1783d0;
  padding: 10px;
  border: 1px solid #1783d0;
  border-radius: 30px;
  /* font-weight: bold; */
  cursor: pointer;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-profile-btn:hover {
  background: #1783d0;
  color: white;
}
.emp-filterBox {
  width: auto;
  margin: 0 50px 100px 50px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 100px;
}

.filter-cards {
  width: 75%;
  overflow-y: auto;
}

.stact-hunt input {
  padding: 8px 10px;
  width: 250px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.filter-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 20px;
  border: 1px solid #ddd;
  border-radius: 40px;
  /* background-color: aquamarine; */
}

.top-filters {
  width: 80%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  /* background-color: #ddd; */
}

.filter-topverti-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-top button {
  width: 12%;
  margin-right: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #ea4232;
  color: #fff;
}

.filter-top button:hover {
  cursor: pointer;
}

.input-with-icon input {
  margin: 0 5px;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.input-with-icon input::placeholder {
  color: #ccc;
}

.filter-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.filter-search-btn:hover {
  background-color: #fff;
  border: 1px solid #ea4232;
  color: #ea4232;
}

.topfilt-details {
  width: 90%;
  margin: 20px 0 0 20px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}

.topfilt-details p {
  font-size: 0.9rem;
  color: #727272;
}

.topfilt-details a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #ea4232;
}

.topfilt-details p span {
  font-weight: 600;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 25%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  /* position: sticky; */
  top: 0;
  height: 80vh;
  /* overflow-y: auto; */
}

.emp-filterBox {
  margin-top: 10vh;
}

.sidbar-filter-head {
  display: flex;
  justify-content: space-between;
}

.sidebar-heading {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 15px;
}

.empTypeOne {
  display: flex;
  gap: 20px;
  align-items: center;
}

.empTypeOne p {
  font-size: 0.9rem;
  color: #727272;
}

/* Style the checkboxes */
.empTypeOne input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1.4px solid #ddd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for checked checkboxes */
.empTypeOne input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* Style for the checkmark inside the checkbox */
.empTypeOne input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.employment-filter {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.sidbar-filter-head button {
  color: #727272;
  font-size: 1rem;
  padding: 2px 6px;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.sidbar-filter-head button:hover {
  cursor: pointer;
  color: #3399ff;
}

.salary-filter-container {
  width: 100%;
  margin: 20px auto;
}

.slider {
  width: 100%;
  height: 3px;
  background: #727272;
  border-radius: 5px;
  position: relative;
}

.thumb {
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: absolute;
  border: 1px solid #3399ff;
}

.track {
  height: 3px;
  background: #3399ff;
  border-radius: 5px;
}

.salary-range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.8rem;
}

.nextpage-btns {
  display: flex;
  justify-content: flex-end;
  margin: 50px 20px 0 0;
}

.nextpage-btns button {
  border: none;
  outline: none;
}

.nextpage-btns button:hover {
  cursor: pointer;
}

.filtPageBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.previousfiltBtn {
  background: transparent;
  padding: 4px 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #727272;
  font-size: 15px;
}

.currentpagefiltBtn {
  font-size: 14px;
  padding: 8px 18px;
  background-color: #ea4232;
  color: #fff;
  border-radius: 50px;
}

.nextfiltBtn {
  background: transparent;
  font-size: 15px;
  padding: 4px 0;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #727272;
}

.nextIconBottom {
  padding-right: 5px;
}

.previewIconBottom {
  padding-left: 5px;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  width: calc(100% - 200px);
  max-width: 1240px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  border: none;
  background: white;
  color: #1783d0;
  /* border-radius: 4px; */
  cursor: pointer;
  min-width: 40px;
  border: 1px solid #1783d0;
  border-radius: 4px;
}
.pagination .dots {
  padding: 0.5rem;
  color: #999;
}

/* .pagination button:hover {
  background-color: #1783d0; 
   color: white;
} */

.pagination button.active {
  /* background-color: #1783d0; */
  /* color: white; */
  font-weight: bold;
}

.pagination button:disabled {
  background: #ffffff;

  cursor: not-allowed;
}

.no-data-message {
  color: #333;
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  font-size: 1.1rem;
  margin-left: 500px;
}
