.employer-box {
  margin: 100px 70px 50px 70px;
  height: 100%;
}

.emprProfBox {
  padding: 300px 0;
}

.employerProfileBox {
  margin-top: 300px;
}

.prof-sectionOne {
  background-color: #ea4232;
  color: #fff;
  border-radius: 20px;
  padding: 40px 40px 40px 90px;
  height: 40vh;
  display: flex;
}

.empyr-btns {
  display: flex;
  justify-content: flex-end;
  /* background-color: #fff; */
  width: 5%;
}

.empyr-profImg {
  width: 15%;
}

.empyr-profImg img {
  height: 24vh;
  width: 13vw;
  background-color: #fff;
  border-radius: 50%;
}

.emp-details {
  width: 80%;
  margin-left: 70px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emp-details h2 {
  color: #fff;
  font-weight: 600;
}

.comp-call,
.comp-mail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.emp-details p {
  padding-right: 10px;
}

.emp-details button {
  margin-top: 20px;
  width: 180px;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  border-radius: 7px;
  list-style: none;
}

.emp-details button a {
  text-decoration: none;
  color: #ea4232;
  font-weight: 500;
}

.empyr-add-btn button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 1.5rem;
  transition: all .2s ease-in;
}

.empyr-add-btn button:hover {
  background-color: #fff;
  color: #ea4232;
  cursor: pointer;
}

.prof-sectionTwo {
  border: 1px solid #ece9e9;
  border-radius: 10px;
  padding: 30px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emp-subheading h5 {
  color: #727272;
  font-weight: 700;
}

.company-site a {
  color: #1f70c1;
}

.prof-sectionTwo p {
  color: #727272;
}

/* ----------- Selectedprof Car ---------- */

.prof-sectionThree {
  min-height: 60vh;
}

.selectedprof {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 270px;
  padding: 20px;
}

.prof-cardbox {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 40px;
}

.selectedprof-card {
  display: flex;
  justify-content: flex-start;
}

.selecprof-detail {
  margin-left: 20px;
  height: 110px;
  width: 150px;
  /* background-color: greenyellow; */
}

.selecprof-role {
  margin: 7px 0;
}

.selecprof-role,
.selecprof-compName {
  font-size: .9rem;
}

.selectedprof-card img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.locat {
  display: flex;
  justify-content: flex-start;
  /* width: 150px; */
  /* background-color: yellow; */
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
  margin: 8px 0;
}

.locat p,
.selectprof-desc p,
.skills p {
  color: #727272;
  font-size: 12px;
}

.box p.box-p {
  font-size: 12px;
}

.box-pNotice {
  padding-left: 4px;
  font-size: 9.66px;
}

.box-pnotice {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.selecprof-detail h5 {
  font-size: 15.46px;
  font-weight: 400;
}

.selecprof-detail p {
  font-size: 11.59px;
  color: #2c2a2a;
}

.selectprof-desc {
  margin-top: 12px;
}

.skills p.skills-heaad {
  font-size: 1rem;
}

.skills {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.skills p.skills-set {
  padding: 4px 6px;
  background-color: #becde6;
  border-radius: 5px;
  color: #012970;
}

.profview-more {
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #ea4232;
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  padding: 10px 15px;
  transition: all .3s ease;
}

.profview-more:hover {
  cursor: pointer;
  background-color: #ad291d;
}

/* ------------- Employer ------------- */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
  position: relative;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.empyr-box {
  width: 50vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.empyr-inp-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.empyr-inphead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 5px;
}

.empyr-inphead h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

.empyr-inphead p {
  color: #515050;
  font-size: 0.8em;
}

.empyr-inp-fieldbox label {
  font-weight: 500;
  font-size: 0.9em;
  text-align: left;
}

.empyr-inp-fieldbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.empyr-inp-fieldbox input {
  border: 1px solid #ddd;
  outline: none;
  padding: 10px 15px;
  border-radius: 13px;
  width: 95%;
}

.comp-desc-empyr {
  height: 10vh;
  width: 96%;
}