.jobcard {
  width: 260px;
  border: 1px solid #1783d0;
  border-radius: 10px;
  padding: 15px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  height: fit-content;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.company-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid #1783d0; */
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.company-name {
  color: #1783d0;
  font-size: 18px;
  font-weight: 600;
}

.job-title {
  font-size: 16px;
  font-weight: 500;
  color: #525252;
}

.job-location {
  font-size: 12px;
  color: #525252;
}

.bookmark-icon {
  position: absolute;
  right: 0;
  top: 0;
  color: #525252;
  cursor: pointer;
}

.job-desc {
  display: flex;
  font-size: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin-bottom: 1rem; */
  color: #525252;
  margin-top: 20px;
  text-transform: capitalize;

}

.job-tags {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 12px 0;
}

    /* background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #525252;
    border: 1px solid #1783d0;
    text-transform: capitalize; */

.job-tags span {
   background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #525252;
    border: 1px solid #1783d0;
    text-transform: capitalize;
}
.job-webisteurl {
  display: flex;
  font-size: 15px;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  margin-bottom: 3rem;
  color: #525252;
  justify-content: left;
}

.view-button {
  /* width: 100%;
  background-color: #1783d0;
  color: white;
  padding: 8px;
  border: 1px solid #1783d0;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s; */
background-color: transparent;
    border: 1px solid #1783d0;
    color: #1783d0;
    /* padding: 6px 12px; */
    height: 28px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
    width: 100%;
    transition: background-color 0.2s;
}
.view-button:hover{
  background-color: #1783d0;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 115, 177, 0.3);
}

